{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>
            {% block title %}
            My Hello Web App Project
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% block header %} {% endblock header %}
    </head>
    <body>
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}
    </body>
</html>
